:root{
  /* 遮罩组件配置 */
  --orange-overlay-zIndexed: 999;
  --orange-overlay-bg-color: rgba(0, 0, 0, 0.7);
  /* popup组件配置 */
  --orange-popup-bg-color: #fff;
  --orange-popup-transition: transform 3s;
}



.demo-card{
  background: #ebebeb;
  width: 300px;
  height: 300px;
}
.blue-bg{
  background: rgb(89, 127, 198);
}
.light-bg{
  background: rgb(160, 101, 101);
}